---
import { getFirstBlogPost, UrlForImage } from "../../lib/api";
import LayoutBlog from "../../layouts/LayoutBlog.astro";
import { Image } from "@astrojs/image/components";
import { Icon } from "astro-icon";
export async function getStaticPaths() {
  const allBlogPosts = await getFirstBlogPost();
  return allBlogPosts.map((post) => ({
    params: {
      slug: post.slug.current,
    },
    props: {
      post,
    },
  }));
}
const { post } = Astro.props;
---
<LayoutBlog title={post.title}>
<div
class="pt-4 xl:pl-10 mx-3 "
    
>
    <a 
                    href="/"
       class=" bg-red-500
        hover:bg-red-700
        text-white
        font-bold
        py-2
        px-4
        rounded
        inline-flex
        items-center
        transition duration-200 ease-in-out
        focus:outline-none
        
       ">
                    <Icon name="Back" class="w-4 h-4 mr-2" />

                Back to home
                 </a>
                   <div class="max-w-4xl mx-auto p-7 my-10   bg-gradient-to-b from-red-50 to-red-100 shadow-2xl rounded-2xl
                   ">
     
    
  <div class="container mx-auto px-4 py-8 ">
  <div class="max-w-3xl mx-auto">
    <!-- Title -->
    <h1 class="text-4xl font-bold mb-4 text-gray-800">{post.title}</h1>

    <!-- Author -->
    {post.author && (
      <div class="flex items-center mb-4">
           
        <div class="mr-4">
          <Image
            width={50}
            height={50}
            src={UrlForImage(post.author.image).url()}
            alt={post.author.name}
            class="rounded-full"
          />
        </div>
        <div>
          <p class="text-red-600 font-semibold">Written by</p>
          <p class="text-gray-700 font-semibold">{post.author.name}</p>
          {post.author.bio && (
            <p class="text-gray-600 mt-1">{post.author.bio[0].children[0].text}</p>
          )}
        </div>
      </div>
    )}

    <!-- Published Date -->
    <p class="text-gray-600 mb-4">
      Published on {new Date(post.publishedAt).toLocaleDateString()}
    </p>

    <!-- Main Image -->
    {post.mainImage && (
      <div class="mb-4">
        <Image
          width={850}
          height={250}
          src={UrlForImage(post.mainImage).url()}
          alt={post.title}
          class="rounded-lg"
        />
      </div>
    )}

    <!-- Bio -->
    {post.bio && <h2 class="text-lg text-gray-800 mb-4">{post.bio.text}</h2>}

    <!-- Tags -->
    {post.tags && (
      <div class="mb-4">
        <h2 class="text-2xl font-bold mb-2 text-gray-800">Tags</h2>
        <div class="flex flex-wrap">
          {post.tags.map((tag) => (
            <span
              
              class="bg-gray-200 text-gray-800 rounded-full px-4 py-2 text-sm font-semibold mr-2 mb-2"
            >
              {tag}
            </span>
          ))}
        </div>
      </div>
    )}
  </div>
</div>


    {/* Body */}
    <div class="mb-4">
      {post.body?.map((block, index) => {
        if (block._type === "block") {
          let blockStyle = "";
          if (block.style === "h1") {
            blockStyle = "text-4xl font-bold mb-4";
          } else if (block.style === "h2") {
            blockStyle = "text-3xl font-bold mb-4";
          } else if (block.style === "h3") {
            blockStyle = "text-2xl font-bold mb-4";
          } else if (block.style === "h4") {
            blockStyle = "text-xl font-bold bg-yellow-400 text-center mx-14";
          } else if (block.style === "blockquote") {
            blockStyle = "border-l-4 border-gray-900 pl-4 italic my-4";
          } else if (block.style === "normal") {
            blockStyle = "text-lg mb-4";
          } else if (block.style === "bullet") {
            blockStyle = "list-disc list-inside mb-4";
          } else if (block.style === "number") {
            blockStyle = "list-decimal list-inside mb-4";
          }

          if (block.listItem === "bullet" || block.listItem === "number") {
            return (
              <li class={blockStyle}>
                {block.children.map((child) => child.text).join("")}
              </li>
            );
          } else {
            return (
              <p  class={`mb-4 ${blockStyle}`}>
                {block.children.map((child) => child.text).join("")}
              </p>
            );
          }
        } else if (block._type === "image") {
          return (
            <div  class="mb-4">
              <Image
                width={200}
                height={200}
                src={UrlForImage(block).url()}
                alt={post.title}
              />
            </div>
          );
        } else {
          return null;
        }
      })}
    </div>

{/* Nutrition */}
{post.nutrition && (
  <div class="mb-4">
    <h2 class="text-2xl font-bold mb-2 text-yellow-500">Nutrition Information</h2>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
      <div class="flex items-center">
        <div class="w-14 h-14 rounded-full bg-red-500 flex items-center justify-center">
          <p class="text-2xl font-bold text-white">{post.nutrition.calories}</p>
        </div>
        <div class="ml-4">
          <p class="text-lg font-semibold mb-1 text-gray-900">Calories</p>
          <p class="text-gray-600">per serving</p>
        </div>
      </div>
      <div class="flex items-center">
        <div class="w-14 h-14 rounded-full bg-green-500 flex items-center justify-center">
          <p class="text-2xl font-bold text-white">{post.nutrition.carbohydrates}</p>
        </div>
        <div class="ml-4">
          <p class="text-lg font-semibold mb-1 text-gray-900">Carbohydrates</p>
          <p class="text-gray-600">per serving</p>
        </div>
      </div>
      <div class="flex items-center">
        <div class="w-14 h-14 rounded-full bg-purple-500 flex items-center justify-center">
          <p class="text-2xl font-bold text-white">{post.nutrition.fat}</p>
        </div>
        <div class="ml-4">
          <p class="text-lg font-semibold mb-1 text-gray-900">Fat</p>
          <p class="text-gray-600">per serving</p>
        </div>
      </div>
      <div class="flex items-center">
        <div class="w-14 h-14 rounded-full bg-blue-500 flex items-center justify-center">
          <p class="text-2xl font-bold text-white">{post.nutrition.protein}</p>
        </div>
        <div class="ml-4">
          <p class="text-lg font-semibold mb-1 text-gray-900">Protein</p>
          <p class="text-gray-600">per serving</p>
        </div>
      </div>
    </div>
  </div>
)}
  <!-- Comments Section -->
  <div class="max-w-3xl mx-auto mt-8">
    <h2 class="text-2xl font-bold mb-4 text-gray-800">Comments</h2>

    <!-- Comment Form -->
    <form class="mb-4">
      <div class="flex flex-col">
        <label for="name" class="text-gray-700">Name</label>
        <input type="text" id="name" name="name" placeholder="Your name" class="mt-1 py-2 px-4 border border-red-300 rounded" />
      </div>
      <div class="flex flex-col mt-4">
        <label for="comment" class="text-gray-700">Comment</label>
        <textarea id="comment" name="comment" rows="4" placeholder="Leave a comment" class="mt-1 py-2 px-4 border border-red-300 rounded"></textarea>
      </div>
      <button type="submit" class="mt-4 px-6 py-2 bg-red-500 text-white font-semibold rounded hover:bg-red-600">Submit</button>
    </form>



  </div>
</div>

</LayoutBlog>