---
import { Icon } from "astro-icon";
import Layout from "../layouts/Layout.astro";
import { Image } from "@astrojs/image/components";
import OurStory0 from '../assets/OurStory.jpg'
import img0 from '../assets/img0.jpg'
import img1 from '../assets/img1.jpg'
import img2 from '../assets/img2.jpg'
import img3 from '../assets/img3.jpg'


---
<Layout title="about">
 <div class="2xl:container 2xl:mx-auto lg:py-16 lg:px-20 md:py-12 md:px-6 py-9 px-4 bg-gradient-to-b from-red-50 to-red-100 text-black italic">
        <a 
                    href="/"
       class="text-red-500 inline-flex items-center mb-5 lg:mb-8">
                    <Icon name="Back" class="w-4 h-4 mr-2" />

                Back to home
                 </a>
<div class="flex flex-col lg:flex-row justify-between gap-8">
    <div class="w-full lg:w-5/12 flex flex-col justify-center">
        <h1 class="text-3xl lg:text-4xl font-bold leading-9 text-red-500 pb-4">About The Balanced Chef</h1>
        <p class="font-normal text-base leading-6">Welcome to The Balanced Chef blog, your go-to resource for delicious and healthy recipes, cooking tips, and wellness advice. Our mission is to empower individuals to create nutritious meals that nourish both the body and the soul. We believe that eating well should be enjoyable and sustainable, and we're here to inspire you on your culinary journey.</p>
    </div>
    <div class="w-full lg:w-8/12">
        <Image
            src={OurStory0}
            alt="A group of People"
            width={700}
            height={300}
        
            class=" object-cover rounded-md"
        />
    </div>
</div>


<div class="flex flex-col justify-between gap-8 pt-12 lg:flex-row">
    <div class="w-full lg:w-5/12 flex flex-col justify-center">
        <h1 class="text-3xl lg:text-4xl font-bold leading-9 pb-4">Our Story</h1>
        <p class="font-normal text-base leading-6">At The Balanced Chef, we started with a simple vision: to make healthy eating accessible and enjoyable for everyone. Our founder, Jane Smith, a passionate home cook and nutrition enthusiast, wanted to share her love for nutritious and delicious meals. With a focus on whole, unprocessed ingredients and creative recipe ideas, our blog has grown into a trusted resource for those seeking a balanced approach to food and wellness.</p>
    </div>
    <div class="w-full lg:w-7/12 flex justify-center">
        <div class="grid gap-4 grid-cols-2 md:grid-cols-4">
            <div class="p-4 pb-6 flex justify-center flex-col items-center">
                <Image
                    src={img0}
                    alt="Alexa featured Image"
                    width={100}
                    height={100}
                    class="w-20 h-20 rounded-full"
                />
                <p class="font-medium text-xl mt-4">
                    Fahad
                </p>
            </div>
            <div class="p-4 pb-6 flex justify-center flex-col items-center">
                <Image
                    src={img1}
                    alt="Olivia featured Image"
                    width={100}
                    height={100}
                    class="w-20 h-20 rounded-full"
                />
                <p class="font-medium text-xl mt-4">Olivia</p>
            </div>
            <div class="p-4 pb-6 flex justify-center flex-col items-center">
                <Image
                    src={img2}
                    alt="Liam featured Image"
                    width={100}
                    height={100}
                    class="w-20 h-20 rounded-full"
                />
                <p class="font-medium text-xl mt-4">Liam</p>
            </div>
            <div class="p-4 pb-6 flex justify-center flex-col items-center">
                <Image
                    src={img3}
                    alt="Elijah featured Image"
                    width={100}
                    height={100}
                    class="w-20 h-20 rounded-full"
                />
                <p class="font-medium text-xl mt-4">Elijah</p>
            </div>
        </div>
    </div>
</div>

</div>

</Layout>
